# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.env.*
*.sqlite3
*.db

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/
*.egg-info/

# Docker
*.pid
*.tar